flows.json
[
    {
        "id": "c75c795fb5b7933d",
        "type": "tab",
        "label": "Automation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b5a1e0a0d2cea72d",
        "type": "tab",
        "label": "REST API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eb68ce8f2177d05e",
        "type": "tab",
        "label": "Test Harness",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4bcaeb20b443d19a",
        "type": "tab",
        "label": "Simulator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7077e724f4a04ab3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8356e031071f254d",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "nodered",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "",
        "rejectUnauthorized": false
    },
    {
        "id": "d215042f009317a6",
        "type": "mqtt in",
        "z": "c75c795fb5b7933d",
        "name": "Subscribe All",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7077e724f4a04ab3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 40,
        "wires": [
            [
                "435642da4f54b4d1",
                "2ffea9dc5d1dd5db"
            ]
        ]
    },
    {
        "id": "435642da4f54b4d1",
        "type": "debug",
        "z": "c75c795fb5b7933d",
        "name": "Global Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 40,
        "wires": []
    },
    {
        "id": "c52bd6eedfdf184f",
        "type": "mqtt out",
        "z": "c75c795fb5b7933d",
        "name": "Publish All",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7077e724f4a04ab3",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "7281080bc5ddb925",
        "type": "mqtt in",
        "z": "c75c795fb5b7933d",
        "name": "",
        "topic": "fleet1/exterior/starboard/slidingDoor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7077e724f4a04ab3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "a041e28a9f333971",
                "b8462a0cefc5b718"
            ]
        ]
    },
    {
        "id": "a041e28a9f333971",
        "type": "switch",
        "z": "c75c795fb5b7933d",
        "name": "Check Door State",
        "property": "payload.open",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "edfcf4bd8d04915d"
            ],
            [
                "cc7ce9fd419817b7"
            ]
        ]
    },
    {
        "id": "edfcf4bd8d04915d",
        "type": "change",
        "z": "c75c795fb5b7933d",
        "name": "Light On",
        "rules": [
            {
                "t": "set",
                "p": "payload.on",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.reason",
                "pt": "msg",
                "to": "starboard sliding door opened",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 180,
        "wires": [
            [
                "9d208644bd5833b1"
            ]
        ]
    },
    {
        "id": "b8462a0cefc5b718",
        "type": "change",
        "z": "c75c795fb5b7933d",
        "name": "Save Lock State",
        "rules": [
            {
                "t": "set",
                "p": "door.locked",
                "pt": "global",
                "to": "payload.locked",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "808f070b71c17e3f",
        "type": "influxdb out",
        "z": "c75c795fb5b7933d",
        "influxdb": "8356e031071f254d",
        "name": "Vanlab MQTT",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "nodered",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "vanlab",
        "bucket": "fleet1",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "2ffea9dc5d1dd5db",
        "type": "function",
        "z": "c75c795fb5b7933d",
        "name": "msg -> influx",
        "func": "// destructure the message\nconst {topic, payload } = msg;\n\nconst topicArray = topic.split('/');\n\n// sanitize topic \nconst measurement = topicArray.join('_');\n\n// break topic into tags\nconst tags = {\n    location: topicArray[0],\n    zone: topicArray[1],\n    room: topicArray[2],\n    device: topicArray[3]\n};\n\n// break payload into fields\nconst fields = {}\nObject.keys(payload).map(key => {\n    fields[key] = payload[key]; \n});\n\nconst timestamp = Date.now();\n\n// return new msg\nreturn {\n    measurement,\n    payload: [fields, tags]\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 100,
        "wires": [
            [
                "808f070b71c17e3f"
            ]
        ]
    },
    {
        "id": "9d208644bd5833b1",
        "type": "change",
        "z": "c75c795fb5b7933d",
        "name": "Hall Light Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "fleet1/interior/hall/toeLight",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.manual",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 180,
        "wires": [
            [
                "c52bd6eedfdf184f"
            ]
        ]
    },
    {
        "id": "cc7ce9fd419817b7",
        "type": "change",
        "z": "c75c795fb5b7933d",
        "name": "Light Off",
        "rules": [
            {
                "t": "set",
                "p": "payload.on",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.reason",
                "pt": "msg",
                "to": "starboard sliding door closed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "9d208644bd5833b1"
            ]
        ]
    },
    {
        "id": "5b51b72a4a12a204",
        "type": "http in",
        "z": "b5a1e0a0d2cea72d",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "5cf1b061fd412d30"
            ]
        ]
    },
    {
        "id": "5cf1b061fd412d30",
        "type": "template",
        "z": "b5a1e0a0d2cea72d",
        "name": "JSON Content",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{ \"Hello\": \"World\" }",
        "x": 320,
        "y": 40,
        "wires": [
            [
                "64b9db1c7bbd9f57"
            ]
        ]
    },
    {
        "id": "64b9db1c7bbd9f57",
        "type": "change",
        "z": "b5a1e0a0d2cea72d",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 40,
        "wires": [
            [
                "28fa17db6c912a7c"
            ]
        ]
    },
    {
        "id": "28fa17db6c912a7c",
        "type": "http response",
        "z": "b5a1e0a0d2cea72d",
        "name": "Response",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 40,
        "wires": []
    },
    {
        "id": "237f7e094e91db26",
        "type": "http in",
        "z": "b5a1e0a0d2cea72d",
        "name": "",
        "url": "/init",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "302ae7f3e52bbd0f"
            ]
        ]
    },
    {
        "id": "302ae7f3e52bbd0f",
        "type": "function",
        "z": "b5a1e0a0d2cea72d",
        "name": "Current Global Context",
        "func": "msg.payload = {}\n\nconst keys = global.keys()\nkeys.map(key => {\n    msg.payload[key] = global.get(key)\n})\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [
            [
                "64b9db1c7bbd9f57"
            ]
        ]
    },
    {
        "id": "a95eeb54f4f1b3a4",
        "type": "mqtt out",
        "z": "eb68ce8f2177d05e",
        "name": "Publish All",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7077e724f4a04ab3",
        "x": 850,
        "y": 40,
        "wires": []
    },
    {
        "id": "1707fa89c8cba3d2",
        "type": "inject",
        "z": "eb68ce8f2177d05e",
        "name": "On",
        "props": [
            {
                "p": "payload.on",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "ccc6bab9fe5297bc"
            ]
        ]
    },
    {
        "id": "658bb03d22fcb698",
        "type": "inject",
        "z": "eb68ce8f2177d05e",
        "name": "Off",
        "props": [
            {
                "p": "payload.on",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "ccc6bab9fe5297bc"
            ]
        ]
    },
    {
        "id": "fcb2e3c3ab1a4ccc",
        "type": "inject",
        "z": "eb68ce8f2177d05e",
        "name": "Open",
        "props": [
            {
                "p": "payload.open",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "95df891a0394ca17"
            ]
        ]
    },
    {
        "id": "d25160d38482243a",
        "type": "inject",
        "z": "eb68ce8f2177d05e",
        "name": "Close",
        "props": [
            {
                "p": "payload.open",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "95df891a0394ca17"
            ]
        ]
    },
    {
        "id": "95df891a0394ca17",
        "type": "change",
        "z": "eb68ce8f2177d05e",
        "name": "Starboard Sliding Door",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "fleet1/exterior/starboard/slidingDoor",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.manual",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 40,
        "wires": [
            [
                "a95eeb54f4f1b3a4"
            ]
        ]
    },
    {
        "id": "ccc6bab9fe5297bc",
        "type": "change",
        "z": "eb68ce8f2177d05e",
        "name": "Hall Overhead Light",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "fleet1/interior/hall/overheadLight",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.manual",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 220,
        "wires": [
            [
                "a95eeb54f4f1b3a4"
            ]
        ]
    },
    {
        "id": "8b99dd3c7430159c",
        "type": "inject",
        "z": "eb68ce8f2177d05e",
        "name": "On",
        "props": [
            {
                "p": "payload.on",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "4cf0af937ee961b0"
            ]
        ]
    },
    {
        "id": "794ac5e56a88fdec",
        "type": "inject",
        "z": "eb68ce8f2177d05e",
        "name": "Off",
        "props": [
            {
                "p": "payload.on",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "4cf0af937ee961b0"
            ]
        ]
    },
    {
        "id": "4cf0af937ee961b0",
        "type": "change",
        "z": "eb68ce8f2177d05e",
        "name": "Hall Counter Light",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "fleet1/interior/hall/counterLight",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.manual",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 320,
        "wires": [
            [
                "a95eeb54f4f1b3a4"
            ]
        ]
    },
    {
        "id": "caed1c88153853a2",
        "type": "inject",
        "z": "eb68ce8f2177d05e",
        "name": "On",
        "props": [
            {
                "p": "payload.on",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "8dd7cab25041176d"
            ]
        ]
    },
    {
        "id": "49e14c92b5b9eb1c",
        "type": "inject",
        "z": "eb68ce8f2177d05e",
        "name": "Off",
        "props": [
            {
                "p": "payload.on",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "8dd7cab25041176d"
            ]
        ]
    },
    {
        "id": "0ebbdb0f36422ec1",
        "type": "inject",
        "z": "eb68ce8f2177d05e",
        "name": "10%",
        "props": [
            {
                "p": "payload.on",
                "v": "0.1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "8dd7cab25041176d"
            ]
        ]
    },
    {
        "id": "024554da628d6fff",
        "type": "inject",
        "z": "eb68ce8f2177d05e",
        "name": "50%",
        "props": [
            {
                "p": "payload.on",
                "v": "0.5",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "8dd7cab25041176d"
            ]
        ]
    },
    {
        "id": "8dd7cab25041176d",
        "type": "change",
        "z": "eb68ce8f2177d05e",
        "name": "Hall Toe Light",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "fleet1/interior/hall/toeLight",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.manual",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 420,
        "wires": [
            [
                "a95eeb54f4f1b3a4"
            ]
        ]
    },
    {
        "id": "9e0a20f5b8083822",
        "type": "inject",
        "z": "eb68ce8f2177d05e",
        "name": "Lock",
        "props": [
            {
                "p": "payload.locked",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "95df891a0394ca17"
            ]
        ]
    },
    {
        "id": "a8a2c8f6c657a127",
        "type": "inject",
        "z": "eb68ce8f2177d05e",
        "name": "Unlock",
        "props": [
            {
                "p": "payload.locked",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "95df891a0394ca17"
            ]
        ]
    },
    {
        "id": "8f2dfcfad2f03b84",
        "type": "http request",
        "z": "4bcaeb20b443d19a",
        "name": "Open Weather GET",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/weather?zip={{payload.zip}},us&appid={{payload.api}}&units=imperial",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 60,
        "wires": [
            [
                "999eaeb46794dec6"
            ]
        ]
    },
    {
        "id": "999eaeb46794dec6",
        "type": "debug",
        "z": "4bcaeb20b443d19a",
        "name": "Global Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 60,
        "wires": []
    },
    {
        "id": "dedaf6f18bfc8942",
        "type": "inject",
        "z": "4bcaeb20b443d19a",
        "name": "Manual",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "ac805413dd4e4365",
                "6903de60203590e9"
            ]
        ]
    },
    {
        "id": "ac805413dd4e4365",
        "type": "process-env",
        "z": "4bcaeb20b443d19a",
        "name": "",
        "topic": "api",
        "key": "OPENWEATHER_API_KEY",
        "x": 290,
        "y": 40,
        "wires": [
            [
                "d705d01f19987916"
            ]
        ]
    },
    {
        "id": "d705d01f19987916",
        "type": "join",
        "z": "4bcaeb20b443d19a",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 510,
        "y": 60,
        "wires": [
            [
                "8f2dfcfad2f03b84"
            ]
        ]
    },
    {
        "id": "6903de60203590e9",
        "type": "change",
        "z": "4bcaeb20b443d19a",
        "name": "Zip",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "zip",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "20005",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "d705d01f19987916"
            ]
        ]
    }
]